
.DS_Store
__pycache__/*
build/*
old/*
examples/__pycache__/libsnark.cpython-37.pyc
examples/_libsnark.so
examples/ekfile
examples/vkfile
examples/libsnark.py
_libsnark.cpython-37m-darwin.so
docs/_build/*
libsnark/*
__.SYMDEF
python_libsnark.egg-info/*
dist/*
